{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    "transform-decorators-legacy",
    "transform-regenerator",
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-async-to-module-method",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src/lib/"
        ],
        "alias": {}
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}